body {
    margin: 0px;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.container-logo {
    text-wrap: nowrap;
    display: flex; 
    align-items: center;
}

.container-logo p {
    padding-left: 4px;
}

.links-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.links-nav {
    display: flex;
    justify-content: center;
}

.links-nav a{
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

.links-nav .Inicio:hover {
    color: rgb(109, 109, 109);
}
.links-nav .Quienes:hover {
    color: rgb(109, 109, 109);
}
.links-nav .Grabaciones:hover {
    color: rgb(109, 109, 109);
}
.links-nav .Mezclas:hover {
    color: rgb(109, 109, 109);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

}

.container-nosotros {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}

.parrafo {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch:narrower;
}

.footer {
    border-top: 1px solid black;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
