footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0px 12px 0px;

    nav {
        ul {
            display: flex;

            a {
                margin: 0px 8px 0px 8px;  
                list-style-type: none; 
                &:hover{
                    background-color: yellow; 
                    border-radius: 44px;     
                    width: 40px;   
                    height: 40px;    
                    transition: all 2000ms;    
                }
            }
        }
    }
}