
header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px black solid;
.logo{
    display: flex;
    align-items: center;
    h4{
    font-family: Arial, Helvetica, sans-serif;
    }
}    


nav{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;

    ul{
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                &:hover{
                    color: grey;
                    }
                }
            }
        }
    }
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
}