.fotosHermanos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

@media (max-width:720px){
    .fotosHermanos{
        flex-direction: column;
    }
}